// ================ ArchivoBlack-Regular ================
@include font_face(ArchivoBlack-Regular, ArchivoBlack-Regular);

%archivo-black {
    font-family: 'ArchivoBlack-Regular', sans-serif;
}
// ################ ArchivoBlack-Regular ################

// ================ Archivo-Bold ==============
@include font_face(Archivo-Bold, Archivo-Bold);

%archivo-bold {
    font-family: 'Archivo-Bold', sans-serif;
}
// ################### Archivo-Bold ###################

// ================ Archivo-Regular ==================
@include font_face(Archivo-Regular, Archivo-Regular);

%archivo-regular {
    font-family: 'Archivo-Regular', sans-serif;
}
// ################### Archivo-Regular ################
// ================ Archivo-Medium ==================
@include font_face(Archivo-Medium, Archivo-Medium);

%archivo-medium {
    font-family: 'Archivo-Medium', sans-serif;
}
// ################### Archivo-Regular ################

// ====================== Font sizes =======================
%fz-12 {
    font-size: rem(12);
}
%fz-170 {
    font-size: rem(170);
}
%fz-14 {
    font-size: rem(14);
}
%fz-30 {
    font-size: rem(30);
}
%fz-16 {
    font-size: rem(16);
}
%fz-40 {
    font-size: rem(40);
}
%fz-36 {
    font-size: rem(36);
}
%fz-32 {
    font-size: rem(32);
}
%fz-20 {
    font-size: rem(20);
}
%fz-370 {
    font-size: rem(370);
}
// ####################### Font sizes #######################
// ====================== Line Height =======================
%lh-13 {
    line-height: rem(13);
}
%lh-185 {
    line-height: rem(165);
}
%lh-15 {
    line-height: rem(15);
}
%lh-33 {
    line-height: rem(33);
}
%lh-17 {
    line-height: rem(17);
}
%lh-40 {
    line-height: rem(40);
}
%lh-46 {
    line-height: rem(46);
}
%lh-26 {
    line-height: rem(26);
}
%lh-403 {
    font-size: rem(403);
}
// ####################### Line Height #######################
%ls-04 {
    letter-spacing: rem(0.428571);
}
%ls-07 {
    letter-spacing: rem(0.714286);
}
%ttu {
    text-transform: uppercase;
}
// =================== Styling text ===========================
// Preload
%preload-text {
    @extend %archivo-black;
    @extend %fz-370;
    @extend %lh-403;
    @extend %ttu;
}
%loading-text {
    @extend %archivo-bold;
    @extend %fz-14;
    @extend %ttu;
    @extend %lh-15;
}
// Navigation 
%nav-contact-us {
    @extend %archivo-bold;
    @extend %fz-12;
    @extend %lh-13;
    @extend %ttu;
}
// Offer
%offer-smal-text {
    @extend %archivo-bold;
    @extend %fz-12;
    @extend %lh-13;
    @extend %ttu;
}
%offer-title {
    @extend %archivo-black;
    @extend %fz-170;
    @extend %lh-185;
    @extend %ttu;
}
%reached-title {
    @extend %archivo-regular;
    @extend %fz-14;
    @extend %lh-15;
}
%reached-num {
    @extend %archivo-black;
    @extend %fz-30;
    @extend %lh-33;
    @extend %ttu;
}
%reached-view {
    @extend %archivo-medium;
    @extend %fz-14;
    @extend %lh-15;
    @extend %ttu;
}
// Clients
%clients-title {
    @extend %archivo-black;
    @extend %fz-40;
    @extend %lh-40;
}
%clients-text {
    @extend %archivo-regular;
    @extend %fz-16;
    @extend %lh-26;
}
%clients-btn {
    @extend %archivo-black;
    @extend %fz-12;
    @extend %lh-26;
    @extend %ls-04;
    @extend %ttu;
}
%clients-name {
    @extend %archivo-regular;
    @extend %fz-16;
    @extend %lh-17;
}
%clients-hover-name {
    @extend %archivo-black;
    @extend %fz-12;
    @extend %lh-17;
    @extend %ls-04;
    @extend %ttu;
}
%clients-hover-num {
    @extend %archivo-black;
    @extend %fz-20;
    @extend %lh-17;
    @extend %ls-07;
    @extend %ttu;
}
%clients-hover-btn {
    @extend %archivo-regular;
    @extend %fz-12;
    @extend %lh-13;
}
// We Do section
%weDo-title {
    @extend %archivo-black;
    @extend %fz-40;
    @extend %lh-40;
}
%weDo-text {
    @extend %archivo-bold;
    @extend %fz-36;
    @extend %lh-46;
}
%weDo-btn {
    @extend %archivo-black;
    @extend %fz-12;
    @extend %lh-26;
    @extend %ls-04;
    @extend %ttu;
}
// Team
%team-title {
    @extend %archivo-black;
    @extend %fz-40;
    @extend %lh-40;
    @extend %ttu;
}
%team-member-name {
    @extend %archivo-black;
    @extend %fz-12;
    @extend %lh-17;
    @extend %ttu;
    text-align: center;
    color: $white;
}
%team-member-position {
    @extend %archivo-regular;
    @extend %fz-12;
    @extend %lh-13;
    text-align: center;
    color: $white;
}
%next-prev-btn {
    @extend %archivo-bold;
    @extend %fz-12;
    @extend %lh-13;
    @extend %ttu;
}
// Contact us btn 
%contact-btn-text {
    @extend %archivo-bold;
    @extend %fz-32;
    @extend %lh-46;
}
// Footer text
%copyright {
    @extend %archivo-regular;
    @extend %fz-14;
    @extend %lh-26;
}
%made-by {
    @extend %archivo-bold;
    @extend %fz-12;
    @extend %lh-26;
    @extend %ttu;
}