body {
    cursor: none;
}
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 25px;
    z-index: 1;
    // background-color: $black;
    .container {
        @extend %df;
        @extend %jcsb;
        @extend %aic;
    }
}

.logo {

    // .logo__link

    &__link {
    }
}
.nav-btns {
    @extend %df;
    @extend %jcsb;
    @extend %aic;
    // .nav-btns__contactus

    &__contactus {
        @extend %nav-contact-us;
        color: $white;
        margin-right: 19px;
        span {
            pointer-events: none;
        }
    }

    // .nav-btns__menu

    &__menu {
        @extend %df;
        @extend %aic;
        @extend %jcc;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        // background-color: $white;
        div {
            @extend %df;
            @extend %jcsb;
            flex-wrap: wrap;
            width: 18px;
            height: 18px;
            pointer-events: none;
            span {
                display: block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $cta;
                margin-bottom: 3px;
                pointer-events: none;
                &:nth-child(3), &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.mouse {
    position: fixed;
    top: -2px;
    left: -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $cta;
    z-index: 100;
    transition: background-color .5s ease, width .5s ease,height .5s ease,left .5s ease,top .5s ease;
    pointer-events: none;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    &__text {
        @extend %archivo-bold;
        font-size: rem(10);
        @extend %ttu;
        color: $white;
    }
    &.hov-b {
        top: -40px;
        left: -40px;
        width: 80px;
        height: 80px;
    }
    &.hov-l {
        top: -7.5px;
        left: -7.5px;
        width: 15px;
        height: 15px;
        background-color: $white;
        &.hov-b {
            top: -40px;
            left: -40px;
            width: 80px;
            height: 80px;
            span {
                color: $black;
            }
        }
    }
    // box-shadow: 0px 1px 400px 150px rgba(255,255,255,1);
}