//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$pink: #FFECEE;
$cta: #D2132A;
$orange: #F9A608;
$whiteColorText: #FFEFF6;
$grayWhiteColorText: #F6F6F6;
$textColor: #383030;
$invisibleTextColor: #643C5A;


$body_bg: $pink;
$scroll_bar_color: $black;
$scroll_thumb_color: $cta;
//---------------------------------------------colors###