doctype html
include modules/_global-variables
include block/_mixsins
html 
    include mainBlock/_head
    body
        main
            header.header
                .bg
                include block/_navigation
                img.shadow(src= `${mainVar.path.img}oval.png`)
                .header__images
                    - for(let i = 1; i <= 11; i++) {
                        - if(i == 7) continue;
                        img(src= `${mainVar.path.img}bg-img-${i}.png` alt= `Some img № ${i}` class=`header__bg-img header__bg-img_${i}`)
                    - }
                .container
                    .offer
                        .offer__main-wrap.paral-wrap
                            p.offer__text.paral= mainText.offer[0]
                            h1.offer__title.paral= mainText.offer[1]
                            img.offer__img.paral(src= `${mainVar.path.img}bg-img-7.png`)
                        .offer__viwers-wrap 
                            p.offer__v-title= mainText.offer[2]
                            p.offer__v-num.of-v-num= mainText.offer[3]
                            p.offer__v-text= mainText.offer[4]
            section.clients-sect.cs
                .bg
                include block/_navigation
                .container
                    .clients
                        .clients__wrap.clients__right
                            .clients__text-wrap
                                h2.clients__title
                                    = mainText.clients.text[0].split('<br>')[0]
                                    br
                                    = mainText.clients.text[0].split('<br>')[1]
                                p.clients__text= mainText.clients.text[1]
                                a.clients__link(href="#")
                                    span.m-hov(data-hover= 'view')= mainText.clients.text[2]
                        .clients__wrap.clients__left
                            - for(let i = 1; i <= 3; i++) 
                                img(src=`${mainVar.path.img}stiky-img-${i}.png`, alt=`Image number ${i}` class=`clients__stiky-img clients__stiky-img_${i}`)
                            ul.clients__wrapper
                                - for(let i = 1; i <= mainText.clients.itemName.length; i++)
                                    li(class=(i == 2 ||i == 5 || i == 8) ? 'clients__item l-hov center' : 'clients__item l-hov')
                                        .clients__content-wrap
                                            .clients__visible
                                                figure.clients__img
                                                    img(src=`${mainVar.path.img}sect-img-${i}.jpg`, alt=`Name client ${mainText.clients.itemName[i]}`)
                                            .clients__hide
                                                .clients__h-wrap
                                                    h3.clients__hide-title
                                                        = mainText.clients.itemHover[0].split('<br>')[0]
                                                        br
                                                        = mainText.clients.itemHover[0].split('<br>')[1]
                                                        br
                                                        = mainText.clients.itemHover[0].split('<br>')[2]
                                                    p.clients__hide-num
                                                        = mainText.clients.itemHover[1]
                                                        img(src=`${mainVar.path.img}gear-red.png`, alt=`Some img on back groung clients ${i}`)
                                                    a.clients__hide-link(href="#")
                                                        span.m-hov(data-hover= 'view')= mainText.clients.itemHover[2]
                                                        svg(width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                            path(d="M4.53566 13.6128L10.9229 7.22551L10.9229 12.8667L12.3332 12.8667L12.3332 4.80786L4.2744 4.80786L4.2744 6.21816L9.91559 6.21816L3.52831 12.6054L4.53566 13.6128Z" fill="white")
                                        .clients__block
                                        - let int = i - 1;
                                            p.clients__name= mainText.clients.itemName[int]   
            section.wedo-sect.wd
                .bg.lol
                include block/_navigation
                .container
                    h2.wedo__titl= mainText.weDoSect[0]
                    .wedo__main-wrap
                        ul.wedo__wrap.wedo__left
                            - for(let i = 1; i <= 6; i++)
                                li.wedo__item-btn
                                    button(class=(i == 1) ? `wedo__btn w-btn active l-hov` : `wedo__btn w-btn l-hov` data-id=`${i}`)
                                        img(src=`${mainVar.path.img}wedo-img-${i}.png`, alt=`Image №${i}` class="inact")
                                        img(src=`${mainVar.path.img}wedo-img-act-${i}.png`, alt=`Image №${i}` class="act")
                        ul.wedo__wrap.wedo__right
                            - for(let i = 1; i <= 6; i++)
                                li(class=(i == 1) ? `wedo__item-main w-items active` : `wedo__item-main w-items` data-id=`${i}`)
                                    img(src=`${mainVar.path.img}bg-img-4.png`, alt="bg image" class="wedo__bg-img wedo__bg-img_1")
                                    img(src=`${mainVar.path.img}bg-img-1.png`, alt="bg image" class="wedo__bg-img wedo__bg-img_2")
                                    img(src=`${mainVar.path.img}bg-img-8.png`, alt="bg image" class="wedo__bg-img wedo__bg-img_3")
                                    .wedo__wrapper
                                        img(src=`${mainVar.path.img}wedo-main-img-${i}.png`, alt="bg image" class=`wedo__main-img wedo__main-img_${i}`)
                                        .wedo__item-content
                                            h3.wedo__item-title= mainText.weDoSect[i]
                                            a.wedo__learn.m-hov(data-hover= 'learn') Learn more
            section.team-sect.ts
                include block/_navigation
                .container
                    h2.team__title= mainText.team.title
                    .team__slider
                        button.team__btn.team__btn-prev.m-hov(data-hover= 'Prev') Prev
                        .swiper-container.team-slider
                            .swiper-wrapper
                                - for(let i = 1; i <= 8; i++)
                                    .swiper-slide.team__slide.l-hov
                                        img(src=`${mainVar.path.img}team-img-${i}.jpg`, alt=`Team member №${i}`)
                                        .team__hover
                                            .team__hov-wrap
                                                h3.team__name= mainText.team.memberItem[0]
                                                p.team__position= mainText.team.memberItem[1]
                        button.team__btn.team__btn-next.m-hov(data-hover= 'Next') Next                        
        .mouse
            span.mouse__text.hov-text
        .footer
            a.footer__contact
                span
                    span Contact us
                    i
                        svg(width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M12.0267 34.3193L29.0538 17.2694L28.9823 32.2561L32.7239 32.2382L32.8261 10.8286L11.4452 10.9308L11.4273 14.6775L26.394 14.6059L9.36685 31.6559L12.0267 34.3193Z" fill="white")
                
        include mainBlock/_scripts
        