nav.navigation
    .container
        .logo
            a.logo__link
                img.l-hov(src= `${mainVar.path.img}logo.png`)
        .nav-btns
            a.nav-btns__contactus.m-hov(data-hover= 'contact')
                span= mainText.menu
            button.nav-btns__menu.m-hov(data-hover= 'menu')
                .nav-btns__menu-wrap
                    - for(let i = 0; i < 4; i++)
                        span