-
    const mainVar = {
        path: {
            css: 'css/',
            js: 'js/',
            img: 'img/'
        }
    };

-
    const mainText = {
        title: 'Test task NextPage',
        menu: 'Contact us',
        offer: ['Practice by SZE', 'Creative', 'our content has reached', '1 000 030 021', 'Viewers'],
        clients: {
            text: [
                    '150+<br>CLIENTS', 
                    'We work with some of the biggest gaming entertainers & world-renowned organisations.', 
                    'View all',
                ],
            itemName: [
                'Liam Payne', 
                'Juice Burst', 
                'Rita Ora', 
                'Popjam', 
                'Jonas Blue', 
                'Logan Paul', 
                'Liam Payne', 
                'Juice Burst', 
                'Rita Ora', 
            ],
            itemHover: [
                'Channel<br>Operation and<br>Management',
                '8.2M +',
                'Video Link'
            ]
        },
        weDoSect: [
            'WE DO',
            'Channel Operation and Management',
            'Creative Services for Infuencers',
            'Graphic Design & Photography',
            'Lyric Videos & Animation',
            'Business Development',
            'Brand Campaigns',
        ],
        team: {
            title: 'Our team',
            memberItem: [
                'Thomas French',
                'Video Maker',
            ],
        },
        footer: [
            'Floaat &copy; 2019',
            'Made by Nextpage',
        ]
    };

//- -
    //- const links =  {
    //-     menuLink: [
    //-         'expertise.html',
    //-         'people.html',
    //-         'insights.html',
    //-         'contacts.html'
    //-     ]
    //- }