.clients-sect {
    z-index: 8;
    background-color: $pink;
    // padding-top: 109px;
    padding-bottom: 68px;
    position: sticky;
    // top: -500px;
    .navigation {
        position: sticky;
        top: 0;
        .nav-btns {
            &__menu {
                background-color: $white;
            }
            &__contactus {
                color: $black;
            }
        }
    }
}
.clients {
    @extend %df;
    @extend %jcsb;
    // .clients__wrap

    &__wrap {
    }

    // .clients__right

    &__right {
        padding-top: 150px;
        // padding-top: 69px;
        max-width: 369px;
    }
    &__text-wrap {
        position: sticky;
        top: 150px;
    }
    // .clients__title

    &__title {
        
        @extend %clients-title;
        color: $black;
    }

    // .clients__text

    &__text {
        @extend %clients-text;
        color: $invisibleTextColor;
        margin: 22px 0;
    }

    // .clients__link

    &__link {
        @extend %clients-btn;
        color: $cta;
    }

    // .clients__left

    &__left {
        position: relative;
    }
    &__stiky-img {
        position: absolute;
        width: auto;
        height: auto;
        z-index: 2;
        pointer-events: none;
        &_1 {
            top: -25px;
            left: -180px;
            &.st {
                position: fixed;
                top: 0;
            } 
        }
        &_2 {
            top: 300px;
            right: -75px;
        }
        &_3 {
            bottom: 50px;
            left: -120px;
        }
    }

    // .clients__wrapper

    &__wrapper {
        position: relative;
        @extend %df;
        flex-wrap: wrap;
        width: 651px;
    }

    // .clients__item

    &__item {
        // width: 197px;
        max-width: 197px;
        height: auto;
        
        &.center {
            margin: 60px 30px 0;
        }
        &:hover {
            .clients__hide {
                opacity: 1;
            }
        }
    }

    // .clients__visible

    &__visible {
        pointer-events: none;
    }

    // .clients__img

    &__img {
    }

    // .clients__block

    &__block {
        margin-top: 12px;
    }

    // .clients__name

    &__name {
        @extend %clients-name;
    }

    &__content-wrap {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        pointer-events: none;
    }

    // .clients__hide

    &__hide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(302.2deg, #B10217 10.23%, #DD041F 69.59%);
        @extend %df;
        @extend %aic;
        @extend %jcc;
        transition: all .5s ease;
        opacity: 0;
        pointer-events: none;
    }
    &__h-wrap {
        position: relative;
        z-index: 3;
    }

    // .clients__hide-title

    &__hide-title {
        @extend %clients-hover-name;
        color: $white;
        text-align: center;
        pointer-events: none;
    }

    // .clients__hide-num

    &__hide-num {
        position: relative;
        @extend %clients-hover-num;
        color: $white;
        text-align: center;
        margin: 45px 0;
        pointer-events: none;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -127px;
            margin-top: -94px;
            z-index: -1;
        }
    }

    // .clients__hide-link

    &__hide-link {
        @extend %clients-hover-btn;
        color: $white;
        @extend %df;
        @extend %aic;
        @extend %jcc;
        span {
            display: inline-block;
            margin-right: 5px;
            pointer-events: all;
        }
        svg {
            transition: all .5s ease;
        }
        &:hover {
            svg {
                transform: rotate(45deg);
            }
        }
    }
}
.m-hov {
}