@keyframes bgi_2 {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes bgi_3 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bgi_4 {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-20px) translateX(-20px);
    }
}
@keyframes bgi_5 {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(40px);
    }
}
@keyframes bgi_6 {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translateY(30px);
    }
}
@keyframes bgi_9 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}
@keyframes bgi_11 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30px);
    }
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    pointer-events: none;
    transition: background-color .5s ease;
}
.header {
    position: sticky;
    top: 0;
    // z-index: -1;
    background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
    height: 100vh;
    overflow: hidden;
    
    // @extend %df;
    // @extend %aic;
    // @extend %jcc;
    // .header__images
    &__images {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .shadow {
        position: absolute;
        top: -100px;
        left: -100px;
        width: 200px;
        height: 200px;
        transition: width .5s ease, height .5s ease, left .5s ease, top .5s ease;
        &.big {
            width: 750px;
            height: 750px;
            top: -375px;
            left: -375px;
        }
        &.medium {
            width: 350px;
            height: 350px;
            top: -175px;
            left: -175px;
        }
    }
    &__bg-img {
        position: absolute;
        width: auto;
        height: auto;
        pointer-events: none;
        animation-timing-function: ease-in;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        &_1 {
            top: 160px;
            left: 50px;
        }
        &_2 {
            bottom: 10px;
            left: 240px;
            animation-name: bgi_2;
            animation-duration: 5s;
        }
        &_3 {
            width: 120px;
            height: 78px;
            bottom: 40px;
            right: 160px;
            animation-name: bgi_3;
            animation-duration: 5s;
        }
        &_4 {
            right: 400px;
            bottom: 50px;
            animation-name: bgi_4;
            animation-duration: 3s;
        }
        &_5 {
            right: 540px;
            top: 80px;
            animation-name: bgi_5;
            animation-duration: 3s;
        }
        &_6 {
            right: 200px;
            animation-name: bgi_6;
            animation-duration: 4s;
        }
        &_8 {
            bottom: 210px;
            right: 70px;
        }
        &_9 {
            top: 100px;
            left: 130px;
            z-index: 3;
            animation-name: bgi_9;
            animation-duration: 4s;
        }
        &_10 {
            width: 233px;
            height: 256px;
            bottom: 0;
            animation-name: bgi_6;
            animation-duration: 4s;
        }
        &_11 {
            width: 210px;
            height: 146px;
            bottom: 140px;
            right: 140px;
            animation-name: bgi_11;
            animation-duration: 4s;
        }
    }
    .container {
        
    }
}
.container {
}
.offer {
    padding-top: 190px;

		// .offer__main-wrap

		&__main-wrap {
            position: relative;
            z-index: 2;
            perspective: 1000px;
            // box-shadow: 0px 1px 400px 150px rgba(255,255,255,1);
		}

		// .offer__text

		&__text {
            @extend %offer-smal-text;
            text-align: center;
            color: $orange;
		}

		// .offer__title
        
		&__title {
            @extend %offer-title;
            text-align: center;
            color: $whiteColorText;
		}
        
        // .offer__img
        &__img {
            position: absolute;
            top: 34px;
            left: 50%;
            margin-left: calc(-678px / 2);
            pointer-events: none;
        }
        
		// .offer__viwers-wrap

		&__viwers-wrap {
            margin-top: 190px;
		}

		// .offer__v-title

		&__v-title {
            @extend %reached-title;
            color: #643C5A;
            text-align: center;
            margin-bottom: 11px;
		}

		// .offer__v-num

		&__v-num {
            @extend %reached-num;
            color: $grayWhiteColorText;
            text-align: center;
            margin-bottom: 9px;
		}

		// .offer__v-text

		&__v-text {
            @extend %reached-view;
            color: $white;
            text-align: center;
		}
}
.of-v-num {
}
