.team-sect {
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: $pink;
    padding-top: 73px;
    padding-bottom: 87px;
    height: 100vh;
    .navigation {
        z-index: 12;
        .nav-btns {
            &__menu {
                background-color: $white;
            }
            &__contactus {
                color: $black;
            }
        }
    }
}
.container {
}
.team {

		// .team__title

		&__title {
            @extend %team-title;
            color: #383030;
            text-align: center;
            margin-bottom: 52px;
		}

		// .team__slider

		&__slider {
            position: relative;
		}

		// .team__slide

		&__slide {
            position: relative;
            border-radius:  8px;
            overflow: hidden;
            &:hover {
                .team__hover {
                    opacity: 1;
                }
            }
            // max-width: 263px;
            img {
                width: 100%;
                pointer-events: none;
            }
		}

		// .team__hover

		&__hover {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 15;
            background: linear-gradient(307.1deg, rgba(177, 2, 23, 0.9) 10.23%, rgba(221, 4, 31, 0.9) 69.59%);
            width: 100%;
            height: 100%;
            @extend %df;
            @extend %aic;
            @extend %jcc;
            pointer-events: none;
            transition: all .5s ease;
            opacity: 0;
		}

		// .team__hov-wrap

		&__hov-wrap {
            pointer-events: none;
		}

		// .team__name

		&__name {
            @extend %team-member-name;
            margin-bottom: 10px;
            pointer-events: none;
		}

		// .team__position

		&__position {
            @extend %team-member-position;
            pointer-events: none;
        }

        // .team__btn

		&__btn {
            position: absolute;
            top: 50%;
            z-index: 15;
            @extend %next-prev-btn;
            // margin-top: -15px;
		}

		// .team__btn-prev

		&__btn-prev {
            left: -57px;
		}

        // .team__btn-next

		&__btn-next {
            right: -57px;
		}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
