.wedo-sect {
    position: sticky;
    top: -80px;
    z-index: 10;
    background-color: #fff;
    background-color: #170119;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    // padding-top: 196px;
    // padding-bottom: 161px;
    height: 100vh;
}
.container {
}
.m-hov {
}
.wedo {

    // .wedo__titl

    &__titl {
        @extend %weDo-title;
        color: $white;
        margin-bottom: 48px;
    }

    // .wedo__main-wrap

    &__main-wrap {
        @extend %df;
        @extend %jcsb;
    }

    // .wedo__left

    &__left {
        @extend %df;
        flex-wrap: wrap;
        @extend %jcsb;
        max-width: 536px;
    }

    // .wedo__item-btn

    &__item-btn {
        width: 174px;
        height: 174px;
    }

    // .wedo__btn

    &__btn {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: rgba(100, 60, 90, 0.2);
        @extend %df;
        @extend %aic;
        @extend %jcc;
        transition: all .5s ease;
        &:hover {
            background: linear-gradient(318.23deg, #B10217 8.31%, #DD041F 69.98%);
            img {
                &.inact {
                    display: none;
                }
                &.act {
                    display: block;
                }
            }
        }
        &.active {
            background: linear-gradient(318.23deg, #B10217 8.31%, #DD041F 69.98%);
            img {
                &.inact {
                    display: none;
                }
                &.act {
                    display: block;
                }
            }
        }
        img {
            pointer-events: none;
            width: auto;
            height: auto;
            &.inact {
                display: block;
            }
            &.act {
                display: none;
            }
        }
    }

    // .wedo__right

    &__right {
        max-width: 570px;
        // padding-left: 70px;
        // display: none;
    }

    // .wedo__item-main

    &__item-main {
        position: relative;
        display: none;
        @extend %aic;
        @extend %jcc;
        height: 355px;
        &.active {
            @extend %df;
        }
    }

    // .wedo__bg-img

    &__bg-img {
        position: absolute;
        width: auto;
        height: auto;
        // .wedo__bg-img_1

        &_1 {
            top: 0;
            left: 0;
        }

        // .wedo__bg-img_2

        &_2 {
            left: 0;
            bottom: 0;
        }

        // .wedo__bg-img_3

        &_3 {
            top: 50%;
            right: 0;
        }
    }

    // .wedo__wrapper

    &__wrapper {
        
    }

    // .wedo__main-img

    &__main-img {
        position: absolute;
        top: 0;
        left: 0;
        // .wedo__main-img_1

        &_1 {
            top: -70px;
            left: 45px;
        }

        // .wedo__main-img_2

        &_2 {
            top: -60px;
            left: 50px;
        }

        // .wedo__main-img_3

        &_3 {
            top: -90px;
            left: 10px;
        }

        // .wedo__main-img_4

        &_4 {
            top: 20px;
            left: 110px;
        }

        // .wedo__main-img_5

        &_5 {
            top: -40px;
            left: 60px;
        }

        // .wedo__main-img_6

        &_6 {
            top: -70px;
            left: 10px;
        }
    }

    // .wedo__item-content

    &__item-content {
        position: relative;
        z-index: 2;
        @extend %df;
        flex-direction: column;
        @extend %aic;
        padding: 0 90px;
    }

    // .wedo__item-title

    &__item-title {
        @extend %weDo-text;
        color: $white;
        text-align: center;
    }

    // .wedo__learn

    &__learn {
        @extend %weDo-btn;
        color: $cta;
        display: inline-block;
        margin-top: 25px;
    }
}
